<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form method="post" action="http://127.0.0.1:8000/home/login-form">
    <label>Usuario (username):<br>
      <input type="text" name="username" required>
    </label>
    <br>
    <label>Contraseña:<br>
      <input type="password" name="password" required>
    </label>
    <br>
    <button type="submit">Entrar</button>
  </form>
  <p>Si quieres registrarte: <a href="http://127.0.0.1:8000/home/signup">Signup</a></p>
</body>
</html>